*/target/
*.iml
.idea/
/rest/${webappDirectory}/
*/docker-output
*/mvn-output
out/
gen/
idea-gitignore.jar
resources/templates.list
resources/gitignore/*
build/
build.properties

# dependencies
*/node_modules
*/.pnp
*.pnp.js

# testing
*/coverage

# production
*/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*/ui/npm-debug.log*
*/ui/yarn-debug.log*
*/ui/yarn-error.log*
